@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
  }
  
  .highlighter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .05em;
    width: 0;
    animation:
      highlight 1.75s 1.5s forwards,
      step-end infinite;
  }
  
  @keyframes highlight {
    from { width: 0% }
    to { width: 100% }
  }
  
